<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ settings.siteName }}</title>
  <style>
    html {
      font-family: sans-serif;
    }
    a {
      color: #FBA204;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <header>
    <a href="{{ '/' | url }}">SOS Dansk Autohjælp</a> &nbsp; | &nbsp; <a href="{{ '/products' | url }}">Abonnementer</a> &nbsp; | &nbsp; <a href="{{ '/players' | url }}">Players</a>  &nbsp; | &nbsp; <a href="{{ '/starwars' | url }}">Star wars</a> 
  </header>
  <h1>{{ settings.siteName }}</h1>
  {{ content }}
</body>
</html>