<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOS Dansk Autohjælp</title>
  <style>
    html {
      font-family: sans-serif;
    }
    a {
      color: #FBA204;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <header>
    <a href="/">SOS Dansk Autohjælp</a> &nbsp; | &nbsp; <a href="/products">Abonnementer</a> &nbsp; | &nbsp; <a href="https://vejhjaelp.sos.eu">Tilkald vejhjælp</a> 
  </header>
  
  {{ content }}
</body>
</html>